# {{.FileName}}

|github_emoji_name|github_emoji|short_name|unicode_index|
|---|---|---|---|
{{ range .UnicodeEmojis }}{{if .Match}}{{with .GithubEmoji}}|{{.Key}}|:{{.Key}}:|{{end}}{{.ShortName}}|{{.Id}}|{{else}}|||{{.ShortName}}|{{.Id}}|{{end}}
{{ end }}